/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2014, 1:22:29 PM
    Author     : joseph
*/

body{
    background:#fff;
}
canvas {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}
.brain{
    position:absolute;
    margin: auto;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;

}
#embedded-content {
    quotes: "\201C" "\201D"; 

}
blockquote#embedded-content:before {
    content: open-quote;
    font-weight: bold;
}
blockquote#embedded-content:after {
    content: close-quote;
    font-weight: bold;
}
.quote{

    font-family: 'Niconne', cursive;
    font-size: larger; 
    position:absolute;
    margin: auto;
}
.top{
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
}
.bottom-right{
    right: 0;
    bottom: 10%;
}
.bottom-left{

    left: 0;
    bottom: 10%;
}
.message{
    position:absolute;
    margin: auto;

    font-family: 'Niconne', cursive;
    font-size: larger;
}
.center{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:20%;
    width:20%;
}
.bottom{
    left:0;
    right:0;
    bottom: 10%;
}
.bottom a{
 color: black;
}